.Album {
  text-align: center;
  min-height: 92.5vh;
  font-family: "Rajdhani", sans-serif;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Album h1 {
  padding: 20px;
  color: #850118;
  grid: 1, span 3;
}

.Album button {
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.Album button:hover {
  color: wheat;
}

@media (max-width: 860px) {
  .Album {
    text-align: center;
    min-height: 88vh;
    font-family: "Rajdhani", sans-serif;
  }
}
