.Album {
  text-align: center;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Album h1 {
  padding: 20px;
  color: orangered;
  grid: 1, span 3;
}

.Album button {
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.Album button:hover {
  color: orangered;
}
