.Album {
  text-align: center;
  height: 92.5vh;
  /* max-height: 95vh; */
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Album h1 {
  padding: 20px;
  color: wheat;
  grid: 1, span 3;
}

.Album button {
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.Album button:hover {
  color: wheat;
}
