.btn-img {
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  position: absolute;
  top: 60px;
}

.btn-img:focus {
  outline: none;
}

.btn-img img {
  width: 100px;
}

.Nav ol li {
  display: inline-block;
  padding: 15px;
}

@media (max-width: 860px) {
  .btn-img img {
    width: 4rem;
  }
}
