.edit-window {
  margin: 5%;
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 400px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  position: fixed;
  top: 40%;
  left: 45%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.527);
}

.edit-window img {
  width: 150px;
}

.edit-window button {
  padding: 5px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.edit-window button:hover {
  color: wheat;
}

.edit-window > * {
  margin: 10px;
}

#x {
  border: transparent;
  margin: 2px;
  position: absolute;
  right: 5px;
  top: 5px;
}
