.game-board {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  margin: 5px;
  background: skyblue;
}

.game-board > div {
  height: 30px;
}

#game {
  background: rgba(128, 128, 128, 0.678);
  height: 92.5vh;
}

#game button {
  margin: 10px;
  padding: 5px;
  background: transparent;
  color: wheat;
  border: 1px solid wheat;
  cursor: pointer;
  border-radius: 10px;
}

#game button:hover {
  color: black;
  border: 1px solid black;
}

.land {
  background-image: url("../../img/grass.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rock {
  background-image: url("../../img/rock.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.grass {
  background-image: url("../../img/tree-leaves.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.apple {
  background-image: url("../../img/apple.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banana {
  background-image: url("../../img/banana.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bawl {
  background-image: url("../../img/bawl-food.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.chicken {
  background-image: url("../../img/chicken.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ball {
  background-image: url("../../img/ball.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.balls {
  background-image: url("../../img/balls.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.chawing {
  background-image: url("../../img/chawing-toy.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.stick {
  background-image: url("../../img/stick.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.stop-game {
  background: skyblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.stop-game::before {
  content: "END!";
  color: red;
  font-weight: bold;
  position: absolute;
  color: #fff;
  font-size: larger;
  top: 50%;
  left: 48%;
}

.stop-game > div {
  background: black;
}

@media (max-width: 860px) {
  .game-board > div {
    height: 20px;
  }
  .game-board {
    margin: 0;
  }
  .game-bag img {
    width: 40px;
  }
  #game {
    background: rgba(128, 128, 128, 0.678);
    height: 88vh;
  }
}
