* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
}

.item img {
  border-radius: 20px;
}

.item-details {
  position: absolute;
  bottom: 15px;
  margin: 5px;
}

.item-details h4 {
  margin-bottom: 5px;
}
