* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: center;
}

.item img {
  border-radius: 20px;
  width: 60px;
}

.item h4 {
  position: absolute;
  margin-bottom: 2px;
}
