.album-window {
  border: 1px solid orangered;
  border-radius: 10px;
  padding: 20px 80px;
  margin: 20px;
  background: rgba(128, 128, 128, 0.596);
  /* width: 30%; */
}

.album-window p {
  font-size: 0.75rem;
  color: orangered;
  text-align: left;
}

.album-window button {
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.album-window button:hover {
  color: orangered;
}

.btns {
  float: right;
}
