.life-bar {
  display: flex;
  margin: 5px;
}

.life-bar p {
  width: 110px;
  margin-left: 20px;
  background: wheat;
}

.bar-container {
  width: 100%;
  background-color: #ddd;
}

.bar {
  background: #808080;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bar p {
  margin-left: 40px;
  color: #fff;
  background: none;
}
