.game-board {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  margin: 5px;
  background: skyblue;
  cursor: url("../../img/jetpack-pug.png"), auto;
}

.game-board > div {
  height: 30px;
}

.land {
  background-image: url("../../img/grass.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rock {
  background-image: url("../../img/rock.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.grass {
  background-image: url("../../img/tree-leaves.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.apple {
  background-image: url("../../img/apple.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banana {
  background-image: url("../../img/banana.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bawl {
  background-image: url("../../img/bawl-food.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.chicken {
  background-image: url("../../img/chicken.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ball {
  background-image: url("../../img/ball.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.balls {
  background-image: url("../../img/balls.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.chawing {
  background-image: url("../../img/chweing-toy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.stick {
  background-image: url("../../img/stick.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
