* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background: url("./img/bg-living-room.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size: cover;

  font-family: "Indie Flower", cursive;
}

button:focus {
  outline: none;
}
