.Nav {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  background: black;
}

.Nav ol li {
  display: inline-block;
  padding: 15px;
}

.Nav a {
  font-style: none;
  color: #fff;
}

.Nav a:hover {
  color: orangered;
}
