.Nav {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  background: black;
  height: 7.5vh;
}

.Nav img {
  width: 50px;
  position: fixed;
  left: 10px;
}

.Nav ol li {
  display: inline-block;
  padding: 15px;
}

.Nav a {
  font-style: none;
  color: #fff;
}

.Nav a:hover {
  color: wheat;
}

@media (max-width: 860px) {
  .Nav {
    height: 12vh;
  }
}
